<section class="filters-wrapper">
  <h1>Something Specific?</h1>
  <div class="filters">
    <div id="diet-type" class="filter-type">
      <span>Diet Type</span>
    </div>
    <div id="cuisine-type" class="filter-type">
      <span>Cuisine Type</span>
    </div>
    <div id="meal-type" class="filter-type">
      <span>Meal Type</span>
    </div>
  </div>
  <div class="active-filters"></div>
</section>
<section class="shopping-list-wrapper">
  <div class="shopping-list-header">
    <h1>Shopping List</h1>
    <div>
      <button id="save-shopping-list-button" class="shopping-list-button">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
      </button>
      <button id="clear-shopping-list-button" class="shopping-list-button">
        <i class="fa fa-window-close" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <ul class="shopping-list"></ul>
</section>

<section class="content"></section>
